@font-face {
    font-family: lf-normal;
    src: url('fonts/LibreFranklin-Regular.ttf') format('truetype');
}
@font-face {
    font-family: lf-bold;
    src: url('fonts/LibreFranklin-Bold.ttf') format('truetype');
}
html {
    background: linear-gradient(90deg, rgba(50,68,88,1) 0%, rgba(0,0,0,1) 50%, rgba(50,68,88,1) 100%);
}
body {
    margin:0;
    color: white;
    font-family: lf-normal;
}
#section-splash {
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#section-splash .header-center {
    margin: auto;
}
#section-splash .header-center h1 {
    margin: 0;
    font-size: 42px;
    text-shadow: 0px 3px 14px black;
}
#section-splash .header-center h2 {
    margin: 0;
    font-size: 18px;
    text-shadow: 0px 3px 6px black;
    font-weight: normal;
}
#section-splash .header-center h1, #section-splash .header-center h2 {
    text-align: center;
}
#section-splash i {
    margin: auto;
    margin-bottom: 0;
}
#section-splash .header-transition {
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(9,9,121,0) 100%);
    height: 50px;
}  
#section-splash .fas.fa-angle-double-down {
    font-size: 50px;
    margin-bottom: 20px;
    text-shadow: 1px 6px 11px black;
}  
#section-about {
    background-image: url(../img/abstractbg.png);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: left bottom;
    display: flex;
    width: 100%;
    height: 400px;
    background-color: #fbfbfb;
}
#section-about .about-center {
    margin: auto;
    color: #2e2e2e;
    max-width: 500px;
}

#section-about .about-center h2, #section-about .about-center p {
    text-align: center;
}
#section-about .about-center p {
    color: #585858;
}
#section-myworks {
    max-width: 1230px;
    margin: auto;
}
#section-myworks .mywork-left, #section-myworks .mywork-right {
    width: 100%;
    height: 400px;
    display: flex;
    box-shadow: 0px 0px 15px #00000096;
    position: relative;
}
#section-myworks .mywork-left .mywork-pic, #section-myworks .mywork-right .mywork-pic {
    width: 500px;
    height: 400px;
    background-position: center;
    flex:none;
    background-size: cover;
}
#section-myworks .mywork-left .mywork-content, #section-myworks .mywork-right .mywork-content  {
    width: 100%;
    height: 400px;
    padding: 10px;
}
#section-myworks .mywork-right .mywork-content {
    text-align: right;
}

#section-myworks .mywork-left.it {
    background-color: #7a92b0;
}
#section-myworks .mywork-left.it .mywork-pic {
    background-image: url(../img/sections/section1.jpg);
} 
#section-myworks .mywork-right.cad-cam {
    background-color: #748ca8;
}
#section-myworks .mywork-right.cad-cam .mywork-pic {
    background-image: url(../img/sections/section2.jpg);
}
#section-myworks .mywork-left.photo {
    background-color: #6a829e
}
#section-myworks .mywork-left.photo .mywork-pic {
    background-image: url(../img/sections/section3.jpg);
}
#section-myworks .mywork-right.content {
    background-color: #5c728b;
}
#section-myworks .mywork-right.content .mywork-pic {
    background-image: url(../img/sections/section4.jpg);
}
#section-contact h2 {
    text-align: center;
    color: #2e2e2e;
}
#section-contact a {
    text-align: center;
    display: block;
    text-decoration: none;
    color: #5c728b;
    font-weight: bold;
    transition:all 0.2s ease;
    width: max-content;
    margin: auto;
}
#section-contact a:hover {
    color:#7a92b0;
    text-decoration: underline;
}
#section-contact {
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0px 0px 15px #00000096;
    position: relative;
    background-image: url(../img/abstractbg2.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: right bottom;
    background-color: white;
}
#section-footer {
    background-color: rgb(71, 72, 73);
    padding-top: 50px;
    padding-bottom: 10px;
}
#section-footer .social-links-container { 
    width: 200px;    
    margin: auto;
    display: flex;
}
#section-footer .social-links-container a {     
    margin: auto;
    display: block;

}
#section-footer p {     
    text-align: center;
    margin: 0%;
    margin-top: 20px;
    font-size: 14px;
    color: #bfbfbf;
}
#section-footer .social-links-container a img {
    width: 50px;
}
#section-footer .social-links-container a i {
    font-size: 50px;
    color: #b232a6;
    background: linear-gradient(to top right, #fdb14c 0%, #b232a6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width:800px) {
    #section-myworks .mywork-left .mywork-pic, #section-myworks .mywork-right .mywork-pic {
        height: auto;
        width: 160px;
    }
    #section-myworks .mywork-left .mywork-content, #section-myworks .mywork-right .mywork-content {
        height: auto;
    }
    #section-myworks .mywork-left, #section-myworks .mywork-right {
        height: auto;
    }
}
@media (max-width:300px) {
    #section-myworks .mywork-left .mywork-pic, #section-myworks .mywork-right .mywork-pic {
        height: auto;
        width: 100px;
    }
}
